.quick-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-nav-item {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.quick-nav-icon {
  width: 60rpx;
  height: 60rpx;
}

.quick-nav-label {
  margin-top: 10rpx;
  font-size: 26rpx;
  line-height: 1;
  color: #8d826b;
}
