.quick-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 56rpx;
}

.quick-nav-item {
  width: 124rpx;
  height: 124rpx;
  border-radius: 28rpx;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.active {
    background: #cfcfcf;
  }
}

.quick-nav-icon {
  width: 58rpx;
  height: 58rpx;
}

.quick-nav-label {
  margin-top: 8rpx;
  font-size: 20rpx;
  line-height: 1;
  color: #8d826b;
}
